<?xml version="1.0"?>
<config>
    <modules>
        <LeandroRitter_Integration>
            <version>0.1.0</version>
        </LeandroRitter_Integration>
    </modules>
    <global>
        <models>
            <leandroritter_integration>
                <class>LeandroRitter_Integration_Model</class>
                <resourceModel>leandroritter_integration_resource</resourceModel>
            </leandroritter_integration>
            <leandroritter_integration_resource>
                <class>LeandroRitter_Integration_Model_Resource</class>
                <entities>
                    <queue>
                        <table>leandroritter_integration_queue</table>
                    </queue>
                </entities>
            </leandroritter_integration_resource>
        </models>
        <helpers>
            <leandroritter_integration>
                <class>LeandroRitter_Integration_Helper</class>
            </leandroritter_integration>
        </helpers>
    </global>
    <frontend>
        <routers>
            <leandroritter_integration>
                <use>standard</use>
                <args>
                    <module>LeandroRitter_Integration</module>
                    <frontName>integration</frontName>
                </args>
            </leandroritter_integration>
        </routers>
    </frontend>
</config>